img {
  height: 10px;
}

body, html {
  margin: 0px;
  height: 100%;
}

@font-face {
  font-family: "Shrikhand";
  src: url(../css/polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/css/polices/Roboto/Roboto-Regular.ttf);
}
mark {
  text-transform: capitalize;
  background-color: transparent;
}

a {
  font-style: none;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 3% 5%;
  color: white;
  font-size: 4vw;
  width: fit-content;
}
.btn--pink {
  background-color: #9356DC;
}

.functionning {
  padding: 5vw;
}
.functionning h1 {
  font-size: 6vw;
}
.functionning__card-explanation {
  background-color: white;
  box-shadow: 0px 5px 10px #999;
  border-radius: 5vw;
  display: flex;
  flex-flow: wrap row;
  padding: 5vw;
  margin: 5vw;
  font-size: 4.5vw;
}
.functionning__card-explanation__card-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-left: -8.5vw;
  color: white;
}
.functionning__card-explanation i {
  margin: 0vw 5vw;
  display: flex;
  align-items: center;
}
.functionning__card-explanation p {
  margin: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  width: 100%;
}
.header__img {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 3% 0% 2% 0%;
}
.header__img img {
  width: 40vw;
  height: fit-content;
}
.header__nav {
  display: flex;
  justify-content: center;
  background-color: rgb(197, 195, 195);
  padding: 2% 0%;
  font-size: 4vw;
}
.header__nav i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5vw;
}
.header__nav p {
  margin: 0px 0px 0px -12px;
}
.header-restaurant__nav {
  display: flex;
  height: fit-content;
  padding: 4vw 0vw 3vw 4vw;
}
.header-restaurant__nav i {
  font-size: 6vw;
  padding-right: 18vw;
}
.header-restaurant__nav img {
  height: 8vw;
  text-align: center;
}
.header-restaurant__img {
  display: flex;
  height: 70vw;
  position: relative;
  overflow: hidden;
}
.header-restaurant__img img {
  height: inherit;
  object-position: center;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.header__menu {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(221, 221, 221);
  padding: 6% 0%;
}
.header__menu h1 {
  text-align: center;
  margin: 0px;
  padding: 0px 20%;
  font-size: 6vw;
}
.header__menu p {
  text-align: center;
  margin: 0px;
  padding: 3% 10%;
  font-size: 4.5vw;
}
.header__menu .centered {
  display: flex;
  justify-content: center;
  margin: 3% 0% 5% 0%;
}

.main {
  height: fit-content;
  padding: 5vw;
  background-color: rgb(211, 211, 211);
}
.main-index h1 {
  padding-top: 5vw;
  font-size: 6vw;
}
.main-index__card-restaurant {
  margin: 5vw 0vw;
  border-radius: 15px;
  display: flex;
  flex-flow: wrap column;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 5px 10px #999;
}
.main-index__card-restaurant__new-content {
  position: absolute;
  background-color: #99E2D0;
}
.main-index__card-restaurant__image {
  display: flex;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.main-index__card-restaurant__image img {
  height: 150px;
  object-position: center;
  object-fit: cover;
  width: 100%;
}
.main-index__card-restaurant__content {
  display: flex;
  height: fit-content;
  padding: 5vw 3vw;
  color: black;
}
.main-index__card-restaurant__content__text h2 {
  margin: 0px;
  font-size: 4.5vw;
}
.main-index__card-restaurant__content__text p {
  margin: 0px;
  font-size: 4vw;
}
.main-index__card-restaurant__content i {
  display: flex;
  flex: 100;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3vw;
  font-size: 4.5vw;
}
.main-index__card-restaurant:visited {
  color: black;
}
.main-menu {
  border-radius: 10vw 10vw 0vw 0vw;
  margin-top: -10vw;
  height: fit-content;
}
.main-menu__header {
  display: flex;
}
.main-menu__header h1 {
  font-size: 8vw;
  margin: 0px;
}
.main-menu__header i {
  display: flex;
  align-items: center;
  flex: 100;
  justify-content: flex-end;
  padding-right: 5vw;
  font-size: 6vw;
}
.main-menu h2 {
  margin: 0vw 0vw 2vw 0vw;
  padding: 8vw 0vw 0vw 0vw;
}
.main-menu__subcategory__choice {
  background-color: white;
  box-shadow: 0px 5px 10px #999;
  border-radius: 3vw;
  display: flex;
  flex-flow: wrap row;
  padding: 2.5vw;
  margin-bottom: 3vw;
  font-size: 4vw;
}
.main-menu__subcategory__choice__text h3 {
  margin: 0px;
}
.main-menu__subcategory__choice__text p {
  margin: 0px;
  width: 72vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-menu__subcategory__choice__pricetag {
  display: flex;
  flex: 100;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0vw 3vw;
  margin: 0px;
}

footer {
  background-color: black;
  color: white;
  padding: 5vw;
}
footer img {
  filter: invert(100%);
  height: 5vw;
}
footer ul {
  padding: 0%;
  font-size: 4.5vw;
}
footer ul li {
  list-style: none;
  padding: 1.5vw 0vw;
}
footer ul li a {
  color: white;
}
footer ul li a i {
  width: 20px;
  padding-right: 4vw;
  text-align: center;
}
footer ul li a strong {
  font-weight: bold;
}
footer ul li a a:visited {
  color: white;
}

/*# sourceMappingURL=style.css.map */
