body, html {
  margin: 0px;
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
    background-color: #9356DC;
  }
  25% {
    height: 0%;
    background-color: #9356DC;
  }
  50% {
    height: 100%;
    background-color: #FF79DA;
  }
  75% {
    height: 100%;
    background-color: #FF79DA;
  }
  100% {
    height: 0%;
    background-color: #9356DC;
  }
}
@keyframes disappearing {
  100% {
    opacity: 0;
    z-index: -15;
  }
}
.progress__bar {
  animation: progress-bar 1000ms;
}

@keyframes progress-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes moving-out {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(polices/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url(polices/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(polices/Roboto/Roboto-Regular.ttf) format("truetype");
}
mark {
  text-transform: capitalize;
  background-color: transparent;
}

a {
  font-style: none;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 3vw 5vw;
  color: white;
  font-size: 5vw;
  box-shadow: 5px 10px 18px gray;
  width: fit-content;
  cursor: pointer;
}
.btn--pink {
  background-color: #9356DC;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.btn--pink:hover {
  background-image: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 5px 10px 18px #676767;
  transition: box-shadow 250ms;
}
.btn--enlarged {
  padding: 5vw 10vw;
}

.functionning {
  padding: 5vw;
}
.functionning h1 {
  font-size: 7vw;
}
.functionning__card-explanation {
  background-color: white;
  box-shadow: 0px 5px 10px #999;
  border-radius: 5vw;
  display: flex;
  flex-flow: wrap row;
  padding: 5vw;
  margin: 5vw;
  font-size: 4.5vw;
}
.functionning__card-explanation__card-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-left: -8.5vw;
  color: white;
}
.functionning__card-explanation i {
  margin: 0vw 4vw;
  display: flex;
  align-items: center;
  color: grey;
}
.functionning__card-explanation p {
  margin: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.functionning__card-explanation:hover {
  background-color: #f2eafb;
  transition: background-color 500ms;
}
.functionning__card-explanation:hover i {
  color: #9356DC;
  transition: color 500ms;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  animation: disappearing 1s both;
  animation-delay: 2s;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.loader__square {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  position: relative;
  border: 10px solid #99E2D0;
  animation: loader 2s infinite ease;
}
.loader__square__inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FF79DA;
  animation: loader-inner 2s infinite ease-in;
}

.header {
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  width: 100%;
}
.header__img {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 3% 0% 2% 0%;
}
.header__img img {
  width: 40vw;
  height: fit-content;
}
.header__nav {
  display: flex;
  justify-content: center;
  background-color: rgb(197, 195, 195);
  padding: 2% 0%;
  font-size: 5vw;
}
.header__nav i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5vw;
}
.header__nav p {
  margin: 0px 0px 0px -12px;
}
.header-restaurant__nav {
  display: flex;
  height: fit-content;
  padding: 4vw 0vw 3vw 4vw;
}
.header-restaurant__nav a:visited {
  color: black;
}
.header-restaurant__nav a i {
  font-size: 7vw;
  padding-right: 18vw;
}
.header-restaurant__nav img {
  height: 8vw;
  text-align: center;
}
.header-restaurant__img {
  display: flex;
  height: 70vw;
  position: relative;
  overflow: hidden;
}
.header-restaurant__img img {
  height: inherit;
  object-position: center;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.header__menu {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(221, 221, 221);
  padding: 6% 0%;
}
.header__menu h1 {
  text-align: center;
  margin: 0px;
  padding: 0px 20%;
  font-size: 7vw;
}
.header__menu p {
  text-align: center;
  margin: 0px;
  padding: 3% 10%;
  font-size: 6vw;
}
.header__menu .centered {
  display: flex;
  justify-content: center;
  margin: 3% 0% 5% 0%;
}

.main {
  height: fit-content;
  padding: 5vw;
  background-color: white;
}
.main-index {
  background-color: #f2f2f2;
}
.main-index h1 {
  padding-top: 5vw;
  font-size: 7vw;
}
.main-index__card-restaurant {
  margin: 5vw 0vw;
  border-radius: 15px;
  display: flex;
  flex-flow: wrap column;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 5px 10px #999;
}
.main-index__card-restaurant__new-content {
  position: relative;
}
.main-index__card-restaurant__new-content__content {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  font-size: 4vw;
  padding: 1.5vw 2.5vw;
  margin: 0px;
  border-radius: 5px;
  top: 4vw;
  right: 3.5vw;
  z-index: 2;
}
.main-index__card-restaurant__image {
  display: flex;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.main-index__card-restaurant__image img {
  height: 260px;
  object-position: center;
  object-fit: cover;
  width: 100%;
  top: -30%;
  position: inherit;
  z-index: 1;
}
.main-index__card-restaurant__content {
  display: flex;
  height: fit-content;
  padding: 5vw 3vw;
  color: black;
}
.main-index__card-restaurant__content__text h2 {
  margin: 0px;
  font-size: 6vw;
}
.main-index__card-restaurant__content__text p {
  margin: 0px;
  font-size: 5vw;
}
.main-index__card-restaurant__content .favourite {
  position: absolute;
}
.main-index__card-restaurant__content .favourite .heart {
  position: relative;
  font-size: 6vw;
  right: -75vw;
  top: 5vw;
  z-index: 10;
}
.main-index__card-restaurant__content .favourite .heart__animated {
  position: absolute;
  font-size: 6vw;
  right: -75vw;
  top: 5vw;
  z-index: 9;
  opacity: 0;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}
.main-index__card-restaurant__content .favourite:hover .heart {
  opacity: 0;
  transition: opacity 300ms;
}
.main-index__card-restaurant__content .favourite:hover .heart__animated {
  opacity: 1;
  transition: opacity 300ms;
}
.main-index__card-restaurant:visited {
  color: black;
}
.main-menu {
  border-radius: 10vw 10vw 0vw 0vw;
  margin-top: -10vw;
  height: fit-content;
}
.main-menu h2 {
  margin: 0vw 0vw 5vw 0vw;
  padding: 10vw 0vw 2vw 0vw;
  font-size: 7vw;
  font-family: "Roboto-Light", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  position: relative;
}
.main-menu h2::after {
  content: "";
  width: 14vw;
  height: 1vw;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-menu__header {
  display: flex;
}
.main-menu__header h1 {
  font-size: 7vw;
  font-family: "shrikhand";
  margin: 0px;
}
.main-menu__header__heart {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  flex: 100;
  position: relative;
}
.main-menu__header__heart__1 {
  display: flex;
  align-items: center;
  font-size: 7vw;
  cursor: pointer;
  position: relative;
}
.main-menu__header__heart__2 {
  display: flex;
  align-items: center;
  font-size: 7vw;
  cursor: pointer;
  position: absolute;
  height: 100%;
  opacity: 0;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}
.main-menu__header__heart .heart__1:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.main-menu__header__heart .heart__2:hover {
  opacity: 1;
  transition: opacity 300ms;
}
.main-menu__subcategory {
  height: fit-content;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 10px #999;
  margin-bottom: 5vw;
  border-radius: 3vw;
  padding: 2.5vw;
}
.main-menu__subcategory:nth-of-type(1) {
  animation: fadeIn 2s 300ms ease-out both;
  -webkit-animation: fadeIn 2s 300ms ease-out both;
  -moz-animation: fadeIn 2s 300ms ease-out both;
  -o-animation: fadeIn 2s 300ms ease-out both;
  -ms-animation: fadeIn 2s 300ms ease-out both;
}
.main-menu__subcategory:nth-of-type(2) {
  animation: fadeIn 2s 500ms ease-out both;
  -webkit-animation: fadeIn 2s 500ms ease-out both;
  -moz-animation: fadeIn 2s 500ms ease-out both;
  -o-animation: fadeIn 2s 500ms ease-out both;
  -ms-animation: fadeIn 2s 500ms ease-out both;
}
.main-menu__subcategory:nth-of-type(3) {
  animation: fadeIn 2s 700ms ease-out both;
  -webkit-animation: fadeIn 2s 700ms ease-out both;
  -moz-animation: fadeIn 2s 700ms ease-out both;
  -o-animation: fadeIn 2s 700ms ease-out both;
  -ms-animation: fadeIn 2s 700ms ease-out both;
}
.main-menu__subcategory:nth-of-type(4) {
  animation: fadeIn 2s 900ms ease-out both;
  -webkit-animation: fadeIn 2s 900ms ease-out both;
  -moz-animation: fadeIn 2s 900ms ease-out both;
  -o-animation: fadeIn 2s 900ms ease-out both;
  -ms-animation: fadeIn 2s 900ms ease-out both;
}
.main-menu__subcategory:hover h3, .main-menu__subcategory:hover p {
  width: 50vw;
  transition: width 1s ease-in-out;
}
.main-menu__subcategory:hover .shrink_animation {
  margin-right: 20vw;
  transition: margin-right 1s ease-in-out;
}
.main-menu__subcategory:hover .appearing-block {
  transform: translateX(-100%);
  z-index: 15;
}
.main-menu__subcategory:hover i {
  animation: rotation 1s 0.2s both;
}
.main-menu__subcategory__check {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 20%;
  display: block;
  overflow: hidden;
  transform-origin: right center;
  z-index: -1;
  transition: all 1s ease-in-out;
}
.main-menu__subcategory__check__block {
  height: 100%;
  width: 100%;
  background-color: #99E2D0;
  border-radius: 0vw 3vw 3vw 0vw;
  display: flex;
  align-items: center;
  z-index: -1;
}
.main-menu__subcategory__check__block__element {
  position: absolute;
  left: 35%;
  background-color: #99E2D0;
}
.main-menu__subcategory__check__block__element i {
  font-size: 6vw;
  color: white;
}
.main-menu__subcategory__choice {
  background-color: white;
  display: flex;
  flex-flow: wrap row;
  font-size: 4.5vw;
  height: fit-content;
}
.main-menu__subcategory__choice__text {
  display: flex;
  flex-flow: wrap column;
}
.main-menu__subcategory__choice__text h3 {
  margin: 0px;
  width: 70vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 1s ease-in-out;
}
.main-menu__subcategory__choice__text p {
  margin: 0px;
  width: 70vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 1s ease-in-out;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
}
.main-menu__subcategory__choice__pricetag {
  display: flex;
  flex: 10;
  width: max-content;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0vw;
  margin: 0px;
  transition: margin-right 1s ease-in-out;
}
.main-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12vw 0vw 15vw 0vw;
}

footer {
  background-color: black;
  color: white;
  padding: 5vw;
}
footer img {
  filter: invert(100%);
  height: 5vw;
}
footer ul {
  padding: 0%;
  font-size: 5vw;
}
footer ul li {
  list-style: none;
  padding: 1.5vw 0vw;
}
footer ul li a {
  color: white;
}
footer ul li a i {
  width: 20px;
  padding-right: 4vw;
  text-align: center;
}
footer ul li a strong {
  font-weight: bold;
}
footer ul li a a:visited {
  color: white;
}

/*# sourceMappingURL=style.css.map */
