img{
    height: 10px;
}

body, html{
    margin: 0px;
    height: 100%;
}

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/buttons";
@import "./components/functionning";
@import "./components/restaurants-cards";
@import "./layout/header";
@import "./layout/footer";
