img{
    height: 10px;
}

body, html{
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/buttons";
@import "./components/functionning";
@import "./layout/header";
@import "./layout/principal";
@import "./layout/footer";
