.header{
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
    width: 100%;
    &__img{
        display: flex;
        justify-content: center;
        height: fit-content;
        width: 100%;
        padding: 3% 0% 2% 0%;
        img{
            width: 35%;
            height:fit-content;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        background-color: rgb(197, 195, 195);
        padding: 2% 0%;
        font-size: $font-size-text;
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -5vw;
        }
        p{
            margin: 0px 0px 0px -12px;
        }
    }
    &__menu{
        display: flex;
        flex-flow: column wrap;
        background-color: rgb(221, 221, 221);
        padding: 6% 0%;
        h1{
            text-align: center;
            margin: 0px;
            padding: 0px 20%;
            font-size: $font-size-titles;
        }
        p{
            text-align: center;
            margin: 0px;
            padding: 3% 10%;
            font-size: $font-size-subtitles;
        }
        .centered {
            display: flex;
            justify-content: center;
            margin: 3% 0% 5% 0%;
        }
    }

}