.main{
    height : fit-content;
    padding: 5vw;
    background-color: $color-light-gray;
    &-index{
        background-color: darken($color-light-gray, 5%);
        h1{
            padding-top: 5vw;
            font-size: $font-size-titles;
        }
        &__card-restaurant{
            margin: 5vw 0vw;
            border-radius: $size-border-radius-card-restaurant;
            display: flex;
            flex-flow: wrap column;
            height : fit-content;
            background-color: white;
            box-shadow: 0px 5px 10px #999;
            &__new-content{
                position: relative;
                &__content{
                    position: absolute;
                    background-color: $color-tertiary;
                    color: darken($color-tertiary, 40%);
                    font-size: $font-size-tiny-text;
                    padding: 1.5vw 2.5vw;
                    margin: 0px;
                    border-radius: 5px;
                    top: 4vw;
                    right: 3.5vw;
                    z-index: 2;
                }
            }
            &__image{
                display: flex;
                height: 200px;
                position: relative;
                overflow: hidden;
                border-radius: $size-border-radius-card-restaurant $size-border-radius-card-restaurant 0px 0px;
                img{
                    height: 260px;
                    object-position: center;
                    object-fit: cover;
                    width: 100%;
                    top: -30%;
                    position: inherit;
                    z-index: 1;
                }
            }
            &__content{
                display: flex;
                height: fit-content;
                padding: 5vw 3vw;
                color: black;
                &__text{
                    h2{
                        margin: 0px;
                        font-size: $font-size-subtitles;
                    }
                    p{
                        margin: 0px;
                        font-size: $font-size-text;
                    }
                }
                .favourite{
                    position: absolute;
                    .heart{
                        position:relative;
                        font-size: $font-size-subtitles;
                        right: -75vw;
                        top: 5vw;
                        z-index: 10;
                        &__animated{
                            position: absolute;
                            font-size: $font-size-subtitles;
                            right: -75vw;
                            top: 5vw;
                            z-index: 9;
                            opacity: 0;
                            color: transparent;
                            background: -webkit-linear-gradient($color-primary,$color-secondary);
                            -webkit-background-clip: text;
                        }
                    }
                    &:hover{
                        .heart{
                            opacity: 0;
                            transition: opacity 300ms;
                            &__animated{
                                opacity: 1;
                                transition: opacity 300ms;
                            }
                        }
                    }
               }
            }
        }
        &__card-restaurant:visited{
            color:black;
        }
    }
    &-menu{
        border-radius: 10vw 10vw 0vw 0vw;
        margin-top: -10vw;
        height: fit-content;
        h2{
            margin: 0vw 0vw 5vw 0vw;
            padding: 10vw 0vw 2vw 0vw;
            font-size: $font-size-titles;
            font-family: 'Roboto-Light', 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: lighter;
            position: relative;
            &::after{
                content: "";
                width: 14vw;
                height: 1vw;
                background-color: $color-tertiary;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &__header{
            display: flex;
            h1{
                font-size: $font-size-titles;
                font-family: "shrikhand";
                margin: 0px;
            }
            &__heart{
                display: flex;
                justify-content: flex-end;
                padding-right: 5vw;
                flex: 100;
                position: relative;
                &__1{
                    display: flex;
                    align-items: center;
                    font-size: $font-size-titles;
                    cursor: pointer;
                    position: relative;
                }
                &__2{
                    display: flex;
                    align-items: center;
                    font-size: $font-size-titles;
                    cursor: pointer;
                    position: absolute;
                    height: 100%;
                    opacity: 0;
                    color: transparent;
                    background: -webkit-linear-gradient($color-primary,$color-secondary);
                    -webkit-background-clip: text;
                }
                .heart__1:hover{
                    opacity: 0;
                    transition: opacity 300ms;
                }
                .heart__2:hover{
                    opacity: 1;
                    transition: opacity 300ms;
                }
            }
        }
        &__subcategory{
            &:nth-of-type(1){
                @include fadeIn($animation-fadeIn-first-element);
            }
            &:nth-of-type(2){
                @include fadeIn($animation-fadeIn-second-element);
            }
            &:nth-of-type(3){
                @include fadeIn($animation-fadeIn-third-element);
            }
            &:nth-of-type(4){
                @include fadeIn($animation-fadeIn-fourth-element);
            }
            height: fit-content;
            cursor: pointer;
            overflow: hidden;
            box-shadow: 0px 5px 10px #999;
            margin-bottom: 5vw;
            border-radius: 3vw;
            padding: 2.5vw;
            &:hover{
                h3, p{
                    width: 50vw;
                    transition: width $time-animation-selection ease-in-out;
                }
                .shrink_animation{
                    margin-right: 20vw;
                    transition: margin-right $time-animation-selection ease-in-out;
                }
                .appearing-block{
                    transform: translateX(-100%);
                    z-index: 15;
                }
                i{
                    animation: rotation $time-animation-selection 0.2s both;
                }
            }
            &__check{
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 20%;
                display: block;
                overflow: hidden;
                transform-origin: right center;
                z-index: -1;
                transition: all 1s ease-in-out;
                &__block{
                    height: 100%;
                    width: 100%;
                    background-color: $color-tertiary;
                    border-radius: 0vw 3vw 3vw 0vw;
                    display: flex;
                    align-items: center;
                    z-index: -1;
                    &__element{
                        position: absolute;
                        left: 35%;
                        background-color: $color-tertiary;
                        i{
                            font-size: $font-size-subtitles;
                            color: white;
                        }
                    }
                }
            }
            &__choice{
                background-color: white;
                display: flex;
                flex-flow: wrap row;
                font-size: $font-size-small-text;
                height: fit-content;
                &__text{
                    display: flex;
                    flex-flow: wrap column;
                    h3{
                        margin: 0px;
                        @include reducing-text-lenght;
                        transition: width $time-animation-selection ease-in-out;
                    }
                    p{
                        margin: 0px;
                        @include reducing-text-lenght;
                        transition: width $time-animation-selection ease-in-out;
                        font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
                    }
                }
                &__pricetag{
                    display: flex;
                    flex: 10;
                    width: max-content;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding: 0vw;
                    margin: 0px;
                    transition: margin-right $time-animation-selection ease-in-out;
                }
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12vw 0vw 15vw 0vw;
        }
    }
}