.main{
    height : fit-content;
    padding: 5vw;
    background-color: $color-light-gray;
    &-index{
        h1{
            padding-top: 5vw;
            font-size: $font-size-titles;
        }
        &__card-restaurant{
            margin: 5vw 0vw;
            border-radius: $size-border-radius-card-restaurant;
            display: flex;
            flex-flow: wrap column;
            height : fit-content;
            background-color: white;
            box-shadow: 0px 5px 10px #999;
            &__new-content{
                position: absolute;
                background-color: $color-tertiary;
                color: darken($color-tertiary,30%);
                padding: 0.5rem;
                border-radius: 5px;
                top: 1rem;
                right: 0.75rem;
                z-index: 4;
            }
            &__image{
                display: flex;
                height: 150px;
                position: relative;
                overflow: hidden;
                border-radius: $size-border-radius-card-restaurant $size-border-radius-card-restaurant 0px 0px;
                img{
                    height: 150px;
                    object-position: center;
                    object-fit: cover;
                    width: 100%;
                }
            }
            &__content{
                display: flex;
                height: fit-content;
                padding: 5vw 3vw;
                color: black;
                &__text{
                    h2{
                        margin: 0px;
                        font-size: $font-size-subtitles;
                    }
                    p{
                        margin: 0px;
                        font-size: $font-size-text;
                    }
                }
                i{
                    display: flex;
                    flex: 100;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: 3vw;
                    font-size: $font-size-subtitles;
                }
            }
        }
        &__card-restaurant:visited{
            color:black;
        }
    }
    &-menu{
        border-radius: 10vw 10vw 0vw 0vw;
        margin-top: -10vw;
        height: fit-content;
        h2{
            margin: 0vw 0vw 5vw 0vw;
            padding: 10vw 0vw 2vw 0vw;
            font-size: $font-size-titles;
            font-family: 'Roboto-Light', 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: lighter;
            position: relative;
            &::after{
                content: "";
                width: 14vw;
                height: 1vw;
                background-color: $color-tertiary;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &__header{
            display: flex;
            h1{
                font-size: $font-size-titles;
                font-family: "shrikhand";
                margin: 0px;
            }
            i{
                display: flex;
                align-items: center;
                flex: 100;
                justify-content: flex-end;
                padding-right: 5vw;
                font-size: $font-size-titles;
            }
        }
        &__subcategory{
            &:nth-of-type(1){
                @include fadeIn($animation-fadeIn-first-element);
            }
            &:nth-of-type(2){
                @include fadeIn($animation-fadeIn-second-element);
            }
            &:nth-of-type(3){
                @include fadeIn($animation-fadeIn-third-element);
            }
            &:nth-of-type(4){
                @include fadeIn($animation-fadeIn-fourth-element);
            }
            height: fit-content;
            cursor: pointer;
            &__choice{
                background-color: white;
                box-shadow: 0px 5px 10px #999;
                border-radius: 3vw;
                display: flex;
                flex-flow: wrap row;
                padding: 2.5vw 2.5vw 0vw 2.5vw;
                margin-bottom: 5vw;
                font-size: $font-size-small-text;
                height: fit-content;
                &__text{
                    transform: translateX(0%);
                    transition: transform ease-out 0.3s;
                    h3{
                        margin: 0px;
                        @include reducing-text-lenght;
                    }
                    p{
                        margin: 0px;
                        @include reducing-text-lenght;
                        font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
                    }
                }
                &__pricetag{
                    display: flex;
                    width: fit-content;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding: 0vw 3vw;
                    margin: 0px;
                }
                &__check{
                    i{
                        display: flex;
                        width: 5vw;
                        align-items: center;
                        visibility: hidden;
                        background-color: $color-tertiary;
                        color: white;
                        transform: translateX(100%);
                        transition: transform ease-out 0.3s;
                    }
                }
            }
            &__choice:hover{
                .main-menu__subcategory__choice__text{
                    width: 65vw;
                    transform: translateX(0);
                }
                i{
                    transform: translateX(0);
                    visibility: visible;
                    width:fit-content;
                }
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12vw 0vw 15vw 0vw;
        }
    }
}