.btn{
    border: none;
    border-radius: 50px;
    padding: 3vw 5vw;
    color: white;
    font-size: $font-size-text;
    box-shadow: 5px 10px 18px gray;
    width: fit-content;
    cursor: pointer;
    @include desktop-tablette-only{
        font-size: $font-size-subtitles-desktop;
        padding: 1vw 1.5vw;
    }
    &--pink{
        background-color: $color-primary;
        background-image: linear-gradient($color-secondary, $color-primary);
        &:hover{
            background-image: linear-gradient($color-secondary-lightened, $color-primary-lightened);
            box-shadow: 5px 10px 18px darken(gray,10%);
            transition: box-shadow 250ms;
        }
    }
    &--enlarged{
        padding: 5vw 10vw;
        @include desktop-tablette-only{
            padding: 1.5vw 3vw;
        }
    }
}