.btn{
    border: none;
    border-radius: 50px;
    padding: 3vw 5vw;
    color: white;
    font-size: $font-size-text;
    width: fit-content;
    cursor: pointer;
    &--pink{
        background-color: $color-primary;
        background-image: linear-gradient($color-secondary, $color-primary);
        &:hover{
            background-image: linear-gradient($color-secondary-lightened, $color-primary-lightened)
        }
    }
    &--enlarged{
        padding: 5vw 10vw;
    }
}