.functionning{
    padding: 5vw;
    h1{
        font-size: $font-size-titles;
    }
    &__card-explanation{
        background-color: white;
        box-shadow: 0px 5px 10px #999;
        border-radius: 5vw;
        display: flex;
        flex-flow: wrap row;
        padding: 5vw;
        margin: 5vw;
        font-size: $font-size-small-text;
        &__card-number{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
            width: 8vw;
            height: 8vw;
            border-radius: 100%;
            margin-left: -8.5vw;
            color: white;
        }
        i{
            margin: 0vw 4vw;
            display: flex;
            align-items: center;
            color: $color-strong-gray;
        }
        p{
            margin: 0px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
        &:hover{
            background-color: lighten($color-primary,35%);
            transition: background-color 500ms;
            i{
                color: $color-primary;
                transition: color 500ms;
            }
        }
    }
}