@font-face {
    font-family: 'Shrikhand';
    src: url(polices/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(polices/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url(polices/Roboto/Roboto-Regular.ttf) format('truetype');
}
mark{
    text-transform: capitalize;
    background-color: transparent;
}
a{
    font-style: none;
    text-decoration: none;
}