@font-face {
    font-family: 'Shrikhand';
    src: url(../css/polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(/css/polices/Roboto/Roboto-Regular.ttf);
}
mark{
    text-transform: capitalize;
    background-color: transparent;
}
a{
    font-style: none;
    text-decoration: none;
}