$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-gray: lighten(grey,50%);
$color-strong-gray: grey;

$size-border-radius-card-restaurant: 15px;

$font-size-titles:7vw;
$font-size-subtitles:6vw;
$font-size-text: 5vw;
$font-size-small-text: 4.5vw;

$animation-fadeIn-300ms: fadeIn 2s 300ms ease-out both;
$animation-fadeIn-500ms: fadeIn 2s 500ms ease-out both;
$animation-fadeIn-700ms: fadeIn 2s 700ms ease-out both;
$animation-fadeIn-900ms: fadeIn 2s 900ms ease-out both;

$animation-goingUp-length: 40%;