
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-gray: lighten(grey,50%);
$color-strong-gray: grey;

$size-border-radius-card-restaurant: 15px;

$font-size-titles:7vw;
$font-size-subtitles:6vw;
$font-size-text: 5vw;
$font-size-small-text: 4.5vw;