$color-primary: #9356DC;
$color-primary-lightened:lighten($color-primary,10%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-gray: lighten(grey,50%);
$color-strong-gray: grey;

$size-border-radius-card-restaurant: 15px;

$font-size-titles:7vw;
$font-size-subtitles:6vw;
$font-size-text: 5vw;
$font-size-small-text: 4.5vw;
$font-size-tiny-text: 4vw;

$fadeIn-base-delay: 300ms;
$fadeIn-additionnal-delay: 200ms;

$animation-fadeIn-first-element: fadeIn 2s $fadeIn-base-delay ease-out both;
$animation-fadeIn-second-element: fadeIn 2s $fadeIn-base-delay + $fadeIn-additionnal-delay ease-out both;
$animation-fadeIn-third-element: fadeIn 2s $fadeIn-base-delay + 2*$fadeIn-additionnal-delay ease-out both;
$animation-fadeIn-fourth-element: fadeIn 2s $fadeIn-base-delay + 3*$fadeIn-additionnal-delay ease-out both;

$animation-goingUp-length: 40%;